body {
  background: #f4f4f4;
  font-family: Tahoma;
  line-height: 1.5em;
  color: #1d0085;
}
header {
  text-align: center;
}
h1,
h2 {
  text-align: center;
  font-family: "Cormorant SC", serif;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
.link-text {
  color: #028d02;
}
.card {
  width: 100%;
  padding: 1%;
}
.headshot {
  width: 50%;
  max-height: 250px;
}
.bordered {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
