body {
  background: #000000a4;
  font-family: Tahoma;
  line-height: 1.5em;
  color: #1d0085;
  background-image: url("../assets/background.jpg");
}
.hero {
  height: 50vh;
  width: 100%;
  color: white;
}
.summary {
  text-align: center;
  margin: auto;
}
img {
  opacity: 0.8;
}
.summary {
  bottom: 15px;
  left: 30px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
h1,
h2 {
  text-align: center;
  font-family: "Cormorant SC", serif;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
.logo {
  color: gray;
  font-size: 50px;
  letter-spacing: 1px;
}
span {
  color: #a80303;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 2rem 2rem;
  align-items: center;
}
nav ul li a {
  color: #1d0085;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
nav ul li a:hover {
  color: 14453D;
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.2);
}
.link-text {
  color: #1d0085;
}
.bordered {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
img {
  width: 100%;
  height: auto;
}
p {
  text-align: center;
  font-size: 16px;
  color: black;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
