@background-color:#f4f4f4;
@font-family: Tahoma;
@primary-color: rgb(2, 141, 2);
@secondary-color: rgb(66, 2, 2);
@line-height: 1.5em;


body{
    background:@background-color;
    font-family: @font-family;
    line-height: @line-height;
}