@background-color:#f4f4f4a4;
@font-family: Tahoma;
@primary-color: rgb(2, 141, 2);
@secondary-color: rgb(29, 0, 133);
@tertiary-color: rgb(168, 3, 3);
@line-height: 1.5em;
@title-text: "Cormorant SC", serif;

body{
    background:@background-color;
    font-family: @font-family;
    line-height: @line-height;
    color:@secondary-color;
}

.hero{
    height:100vh;
    width: 100%;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

h1, h2{
    text-align:center;
    font-family: @title-text;
    .bordered
}

.logo{
    color: gray;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}

span{
    color: @tertiary-color;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: @primary-color;
    transition: .5s;
}

.link-text{
    color:@secondary-color; 
}

.card{
    width: 100%;
    padding: 1%;
}

.headshot{
    width:50%;
    max-height:250px;
    align-items: center;
    justify-content: center;
}

.bordered{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}